@import '../../variables/variables.colors';
.container-table{
    padding: 0;
    margin: 0;
    min-width: 1500px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    .MuiDataGrid-cellContent{
        color: $font-black;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        text-decoration-line: underline;
    }
    .data-grid{
        border: 0;
        background-color: $background-purple-table
    }
    a{
        color: black;
    }
    .date{
        color: $font-gray;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
    }
    .container-status-cell{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        span{
            margin-left: 6px;
            text-transform: capitalize;
            color: $font-gray;
        }
    }
}