.container-table {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    margin: 0;
    margin: 0;
    min-width: 1500px;
    padding: 0;
    padding: 0;
    .data-grid {
        border: 0;
    }
    .container-status-cell {
        align-items: center;
        display: flex;
        flex-direction: row;
        padding: 0;
        span {
            margin-left: 6px;
            text-transform: capitalize;
        }
    }
    a:-webkit-any-link {
        color: black;
    }
}
