@import '../../variables/variables.colors';

.section-search-bar{
    align-items: center;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    justify-items: center;
    width: 80%;

    .title-search{
        align-items: center;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        justify-items: stretch;

        h1 {
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        .search-bar-parent {
            width: 100%;
            .input-field-search{
                text-align: center;
            }
            img {
                margin: 7px;
                position: absolute;
            }
            .input-field-search{
                background: $background-gray;
                border-radius: 5px;
                border: none;
                height: 36px;
                min-width: 320px;
                padding: 5px 7px 7px 7px;
            }
            .input-field-search:focus-visible {
                border-radius: 3px;
                outline: 2px solid $main-purple-primary;
              }
        }
    }
    .images-order{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        .icon-column-image{
            border-radius: 50%;
            border:2px solid $main-purple-primary;
            cursor: pointer;
            margin: 10px;
            padding: 10px;
        }
        .icon-grid-image{
            background-color: $main-purple-primary;
            border-radius: 50%;
            border: 2px solid $main-purple-primary;
            cursor: pointer;
            margin: 10px;
            padding: 10px;
        }
    }

    @media screen and (max-width: 940px) {   
        grid-template-columns:1fr;
        grid-template-rows:repeat(2,1fr);
        .images-order {
            justify-content: space-between;
        }
    }
    @media screen and (max-width: 677px) {   
        .title-search {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 1fr);
            justify-items: center;
        }
    }  
}
 