// $background-gray: #EAEAEA;
// $font-black: #000;
// $font-gray: #969191;
// $main-purple-primary: #9164CC;

$main-purple-primary: #9164CC;
$font-gray: #969191;
$font-black: #000;
$background-gray: #EAEAEA;
$background-white: #ffff;
$background-purple-table: rgb(255, 255, 255);

@mixin theme($light-theme: true) {
    @if $light-theme {
        background: $background-white;
        color: $font-black;
    } @else {
        background: $font-black;
        color: $background-white;
    }
}
