.main-section-more-details{
    display: grid;
    grid-template-areas: 
    "record-box record-box"
    "title title"
    "section-content section-content"
    "video-section video-section"
    "last-paragraph last-paragraph";
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(5, 1fr);
    height: calc(100vh - 10px);
    margin: 20px;
    gap: 65px;
    .record-box-certified{
        align-items: center;
        border-radius: 10px;
        border: 2px dashed #000;
        display: flex;
        flex-direction: row;
        grid-area: record-box;
        justify-content: space-between;
        margin-bottom: 22px;
        max-height: 92px;
        padding: 23px 46px 22px 43px;
        .button-box-certified{
            background-color: #000;
            height: 42px;
            padding: 10px 22px;
            text-transform: none;
            width: 154px;
        }
        .certified-text{
            font-size: 25px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-right: 15px;
            margin: 0;
        }
    }
    .title-div-more-details{
        align-items: center;
        display: flex;
        grid-area: title;
        max-height: 104px;
        padding: 0;
        .image-title{
            margin-right: 27px;
        }
        .title-text{
            max-width: 664px;
        }
    }

    .logo-footer {
        margin: 1.5rem auto;
        position: relative;
        right: 16%;
    }
    .section-content{
        align-items: center;
        display: flex;
        grid-area: section-content;
        justify-content: space-between;
        padding: 0;
        .paragraph-content{
            margin-right: 50px;
        }
    }
    .video-section{
        grid-area: video-section;
        width: 100%;
    }
    .last-paragraph-content{
        grid-area: last-paragraph;
        margin-right: 50px;
    }
    hr {
        width: 100vw;
    }
    @media screen and (max-width: 830px) {
        .section-content {
            flex-direction: column;
        }
        .paragraph-content {
            margin-bottom: 50px;
            margin-right: 0 !important;
            text-align: justify;
        }
    }
}